In [2]:
import numpy as np
import pandas as pd

# 1. 利用loc、iloc提取行数据

In [41]:
data = pd.DataFrame(np.arange(1,17,1).reshape(4,4),index = list('abcd'),columns = list('ABCD'))
data

    A   B   C   D
a   1   2   3   4
b   5   6   7   8
c   9  10  11  12
d  13  14  15  16

In [9]:
#取索引为'a'的行
data.loc['a']

A    1
B    2
C    3
D    4
Name: a, dtype: int64

In [10]:
#取第一行数据，索引为'a'的行就是第一行，所以结果相同
data.iloc[0]

A    1
B    2
C    3
D    4
Name: a, dtype: int64

# 2. 利用loc、iloc提取列数据

In [12]:
data.loc[:,['A','B']]

    A   B
a   1   2
b   5   6
c   9  10
d  13  14

In [13]:
data.iloc[:,[0,2]]

    A   C
a   1   3
b   5   7
c   9  11
d  13  15

# 3.利用loc、iloc提取指定行、指定列数据

In [14]:
data.loc[['a'],['A','B']]

   A  B
a  1  2

In [16]:
data.iloc[0,[0,1]]

A    1
B    2
Name: a, dtype: int64

# 4.利用loc、iloc提取所有数据

In [28]:
data.iloc[1,2]

7

# 5.利用loc函数，根据某个数据来提取数据所在的行

In [35]:
data.loc[data['A'] == 1,'A':'C'] #data['cloumn_index'] 不能是 row_index

   A  B  C
a  1  2  3

In [40]:
data.loc[:,data.loc['a'] == 2]

    B
a   2
b   6
c  10
d  14